<div class="container">
  <header class="jumbotron">
    <h2 class="text-center">Schedule status</h2>
  </header>

  <h3 class="text-center">Scheduled</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Where</th>
      <th>Start</th>
      <th>End</th>
      <th>Value</th>
      <th>Played</th>
    </tr>
    </thead>
    <tbody>
    <tr class="custom" *ngFor="let schedule of content.scheduleList | filter : 'played' : false">
      <td>{{schedule.club}}</td>
      <td>{{schedule.beginning}}</td>
      <td>{{schedule.end}}</td>
      <td>{{schedule.value}}</td>
      <td>{{schedule.played}}</td>
    </tr>
    </tbody>
  </table>

  <h3 class="text-center">Played</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Where</th>
      <th>Start</th>
      <th>End</th>
      <th>Value</th>
      <th>Played</th>
    </tr>
    </thead>
    <tbody>
    <tr class="custom" *ngFor="let schedule of content.scheduleList | filter : 'played' : true">
      <td>{{schedule.club}}</td>
      <td>{{schedule.beginning}}</td>
      <td>{{schedule.end}}</td>
      <td>{{schedule.value}}</td>
      <td>{{schedule.played}}</td>
    </tr>
    </tbody>
  </table>
</div>
