<div class="container">
    <header class="jumbotron">
        <h2 class="text-center">Player info</h2>
    </header>

    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field class="example-full-width"
                        floatLabel="never" color="primary" fxFlex="40%">
            <input class="toolbar-search" type="text"  matInput (keyup)="doFilter($event)" placeholder="Filter" >
        </mat-form-field>
        <span class="material-icons">
search
</span>
    </div>

    <table mat-table [dataSource]="content" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> First name</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Last name</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="activePackageAmount">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.activePackageAmount}} </td>
        </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/infoplayers', element.id]">
                        <span class="badge">{{ element.id }}</span>{{ element.firstName }}
                    </a>
                </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="2" [pageSizeOptions]="[1, 2, 4, 6, 10]">
    </mat-paginator>
</div>
