<div class="container">
    <header class="jumbotron">
        <h2 class="text-center">Player status</h2>
    </header>
    <!--    <div *ngIf="player$ | async as player">-->

    <h2 class="text-center">Player name: {{content.firstName}} {{content.lastName}}</h2>
    <h2 class="text-center">Left amount: {{content.activePackageAmount}}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Purchase date</th>
            <th>Valid untill</th>
        </tr>
        </thead>
        <tbody>
        <tr class="custom" *ngFor="let package of content.subPackageDtos">
            <td>{{package.id}}</td>
            <td>{{package.amount}}</td>
            <td>{{package.purchaseDate}}</td>
            <td>{{package.validUntil}}</td>
        </tr>
        </tbody>
    </table>
    <!--    </div>-->

</div>
